# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
fastlane/report.xml
fastlane/README.md
S372L2D245.cer
*.mobileprovision
*.cer
